{% extends "app/base.html" %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- Profile -->
            <!-- タイトル -->
            <div class="col-12 my-4">
                <h2 class="text-center">PROFILE</h2>
            </div>

            <!-- プロフィール欄 -->
            <div class="col-12">
                <table class="profile_table mb-4 p-0">
                    <tbody>
                        <tr>
                            <th class="header">メールアドレス</th>
                            <td class="data">{{ user_data.account_core.email }}</td>
                        </tr>
                        <tr>
                            <th class="header">名前</th>
                            <td class="data">{{ user_data.account_core.name }}</td>
                        </tr>
                        <tr>
                            <th class="header">フリガナ</th>
                            <td class="data">{{ user_data.furigana }}</td>
                        </tr>
                        <tr>
                            <th class="header">住所</th>
                            <td class="data">{{ user_data.address }}</td>
                        </tr>
                        <tr>
                            <th class="header">電話番号</th>
                            <td class="data">{{ user_data.tel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button mx-auto">
                <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}