*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

footer {
    margin-top: 3rem;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    opacity: 0.5;
}
ol, ul {
    list-style: none;
}

/* ナビゲーション */
.navbar {
    border-bottom: 1px solid #000;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-link {
    padding: 0;
}
.header-icon {
    text-align: center;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}
.header-icon i {
    font-size: 1.5rem;
}

/* 全体 */
.page-top-img {
    display: inline-block;
    height: 400px;
    width: 100%;
}


/* index */
/* カルーセル */
.carousel-item img {
    display: inline-block;
    height: 400px;
    width: 100%;
}
/* コンセプト */
.top-about {
    display: flex;
    justify-content: center;
}
/* スタイリスト一覧 */
.top-stylist-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}





.card-profile {
    width: 700px;
    border: 0;
}

.button {
    width: 150px;
}

.btn {
    font-size: 80%;
    font-weight: bold;
}

.profile_table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: separate;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto;
}

.profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #000;
    color: #fff;
}

.profile_table .data {
    padding: 16px 24px;
}

/* profile_edit */
.form_wrap {
    display: grid;
    gap: 16px;
}

.form_wrap-2 {
    grid-template-columns: repeat(2, 1fr);
}

.form-control:focus {
    box-shadow: none;
}



/* ログイン画面 */
.card-auth {
    width: 400px;
    border: 0;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
}