{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- 確認画面 -->
            <!-- タイトル -->
            <div class="col-12 my-4 px-0">
                <h2 class="text-center">注文内容確認</h2>
            </div>

            <div class="col-12">
                <form action="." method="POST" id="payment-form">
                    <div class="row order">
                        <div class="col-md-9">
                            <div class="card px-4">
                                <div class="card-body px-2 py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="font-weight-bold">お届け先住所</p>
                                            <p>名前：{{ user_data.name }}</p>
                                            <p>フリガナ：{{ user_data.furigana }}</p>
                                            <p>住所：{{ user_data.address }}</p>
                                            <p>電話番号：{{ user_data.tel }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="font-weight-bold">お支払い方法</p>
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div id="card-element"></div>
                                                <div id="card-errors" role="alert"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body text-center px-2 py-3">
                                    <p class="font-weight-bold">注文内容</p>
                                    <p>商品の小計：{{ order.get_total }}円</p>
                                    <p>配送料：0円</p>
                                    <hr>
                                    <p class="font-weight-bold text-danger">ご請求金額：{{ order.get_total }}円（税込）</p>
                                    <div class="mb-3">
                                        <button class="btn btn-outline-danger" type="submit">ご注文を確定する</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}