{% extends "app/base.html" %}
{% load static %}
{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- About -->
            <!-- タイトル -->
            <div class="col-12 my-4 px-0">
                <h2 class="text-center">ABOUT</h2>
            <!-- 画像 -->
                <div class="">
                    <img class="img-fluid page-top-img" src="{% static 'img/top_img.jpg' %}" alt="">
                </div>
            </div>

            <!-- コンセプト -->
            <div class="col-12 my-4">
                <div class="row">
                    <!-- ロゴ -->
                    <div class="col-3">
                        <h3>Design</h3>
                        <p>新宿で人気のサロン</p>
                    </div>
                </div>

                <!-- コンセプト1 -->
                <div class="row">
                    <!-- 写真 -->
                    <div class="col-12 col-md-6 px-0">
                        <img class="img-fluid" src="{% static 'img/top_img.jpg' %}" alt="">
                    </div>
                    <!-- コンセプト紹介 -->
                    <div class="col-12 col-md-6 border p-0">
                        <div class="top-about my-5">
                            <div class="text-center">
                                <p>{{ salon_data.concept1 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- コンセプト2 -->
                <div class="row">
                    <!-- コンセプト紹介 -->
                    <div class="col-12 col-md-6 border">
                        <div class="top-about my-5">
                            <div class="text-center">
                                <p>{{ salon_data.concept2 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- 写真 -->
                    <div class="col-12 col-md-6 px-0">
                        <img class="img-fluid" src="{% static 'img/top_img.jpg' %}" alt="">
                    </div>
                </div>
            </div>

            <!-- アクセス情報 -->
            <div class="col-12 my-5 px-0">
                <div class="border">
                    <h3 class="text-center my-3">ACCESS</h3>
                    <div class="row p-3">
                        <div class="col-6">
                            <!-- 店舗情報 -->
                            <h4>Design</h4>
                            <p class="border-bottom">住所：{{ salon_data.address }}</p>
                            <p class="border-bottom">Tel：{{ salon_data.tel }}</p>
                            <p class="border-bottom">Mail：{{ salon_data.mail }}</p>
                            <p class="border-bottom">営業時間：{{ salon_data.opening }}〜{{ salon_data.closed }}</p>
                            <p class="border-bottom">定休日：{{ salon_data.regular_holiday }}</p>
                            <p class="border-bottom">最寄駅：{{ salon_data.access }}</p>
                        </div>
                        <div class="col-6">
                            <div class="border text-center px-0">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.486897005143!2d139.68991201492724!3d35.689634180192286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd4b71a37a1%3A0xf1665c37f38661e8!2z5p2x5Lqs6YO95bqB!5e0!3m2!1sja!2sjp!4v1602416303473!5m2!1sja!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div> 
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}