{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="main_wrap">
    <div class="container">
        <div class="row">
            <!-- News一覧 -->
            <!-- タイトル -->
            <div class="col-12 my-4 px-0">
                <h2 class="text-center">NEWS</h2>
                <!-- 画像 -->
                <div class="">
                    <img class="img-fluid page-top-img" src="/media/images/blake-wisz-GFrBMipOd_E-unsplash.jpg" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="row d-flex justify-content-around">
                    {% for news in news_data %}
                    <div class="card col-3 m-1">
                        {% if news.image %}
                        <img src="{{ news.image }}" alt="">
                        {% endif %}
                        <div class="card-body p-3">
                            <h5 class="card-title"><a class="font-weight-bold"
                                    href="{% url 'news_detail' news.id %}">{{ news.title }}</a></h5>
                            <p>{{ news.content|linebreaksbr|truncatechars:50 }}</p>
                            <div class="card-detail">
                                <p>{{ news.created_date }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock content %}