{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- NEWS詳細 -->
            <!-- タイトル -->
            <div class="col-12 my-4">
                <h2 class="text-center">NEWS</h2>
                <!-- 詳細 -->
                <h3 class="text-center my-4">{{ news_data.title }}</h3>
                <div class="text-right">
                    <p>投稿日時：{{ news_data.created_date }}</p>
                </div>
                <hr>
                {% if news_data.image %}
                    <img src="{{ news_data.image.url }}" alt="">
                {% endif %}
                <div class="">
                    <div class="">
                        <p class="">{{ news_data.content|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}