{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- スタイリスト詳細 -->
            <!-- タイトル -->
            <div class="col-12 my-4">
                <h2 class="text-center">STYLIST</h2>
            </div>

            <div class="content-wrap">
                <div class="col-12 my-4">
                    <!-- ---------- スタイリスト詳細 ---------- -->
                    <div class="row">
                        <!-- スタイリスト画像 -->
                        <div class="col-5">
                            <div class="d-flex justify-content-center">
                                <img class="img-fluid"
                                    src="{{ staff_data.image.url }}" alt="">
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="border p-2">
                                <h5>{{ staff_data.position }}</h5>
                                <h2>{{ staff_data.name }}</h2>
                                <hr>
                                <h5>PROFILE</h5>
                                <p>{{ staff_data.description|linebreaksbr|truncatechars:100 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- カレンダー -->
                <div class="col-12 my-4">
                    <div class="text-center mb-3">
                        <h4>スタイリストの出勤・予約情報</h4>
                    </div>
                    <!-- 週の切り替え -->
                    <div class="d-flex mb-2">
                        <div class="mx-3 mr-auto">
                            <a class="btn btn-warning" href="">前週</a>
                        </div>
                        <div class="mx-3">
                            <a class="btn btn-warning" href="">次週</a>
                        </div>
                    </div>
                    <!-- カレンダー -->
                    <div class="">
                        <table class="table table-bordered bg-light text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    {% for day in days %}
                                    <!-- 土曜日 -->
                                    {% if day.weekday == 5 %}
                                    <th scope="col" class="text-primary">{{ day | date:"d(D)" }}</th>
                                    <!-- 日曜日 -->
                                    {% elif day.weekday == 6 %}
                                    <th scope="col" class="text-danger">{{ day | date:"d(D)" }}</th>
                                    {% else %}
                                    <th scope="col">{{ day | date:"d(D)" }}</th>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for hour, schedules in calendar.items %}
                                <tr>
                                    <td scope="row">{{ hour }}:00</td>
                                    {% for datetime, book in schedules.items %}
                                    <td>
                                        {% if datetime <= today %}
                                        -
                                        {% elif book %}
                                        <i class="far fa-circle text-info"></i>
                                        {% else %}
                                        <i class="fas fa-times text-danger"></i>
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12">
                    <div class="text-center">
                        <div class="btn btn-dark">
                            <a href="{% url 'stylist_list' %}" class="d-block">
                                <span class="text-white">BACK</span>
                            </a>
                        </div>
                        <div class="btn btn-outline-dark">
                            <a href="{% url 'stylist_choice' %}" class="d-block">
                                <span>APPOINT</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock content %}