{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- STYLES -->
            <!-- タイトル -->
            <div class="col-12 my-4">
                <h2 class="text-center">STYLES</h2>
            </div>

            <div class="content-wrap">
                <!-- カテゴリ -->
                <div class="col-12 my-2">
                    <div class="d-flex justify-content-evenly">
                        {% for category in style_category %}
                        <div>
                            <a href="">
                                <p>{{ category.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- 一覧 -->
                <div class="col-12">
                    <div class="row">
                        {% for style in style_data %}
                        <div class="col-4">
                            <div class="card">
                                <img class="img-fluid" src="{{ style.image.url }}" alt="">
                                <a class="stretched-link" href="{% url 'style_detail' style.id %}"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}