{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- スタイル詳細 -->
            <!-- タイトル -->
            <div class="col-12 my-4 px-0">
                <h2 class="text-center">STYLE</h2>
            </div>

            <div class="col-12 my-4">
                <!-- ---------- スタイル詳細 ---------- -->
                <div class="row">
                    <!-- スタイリスト画像 -->
                    <div class="col-4">
                        <div class="">
                            {% if style_data.image %}
                            <img class="img-fluid" src="{{ style_data.image.url }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row border p-3">
                            <div class="col-4">
                                <img class="img-fluid round-img" src="{{ style_data.stylist.image.url }}" alt="">
                            </div>
                            <div class="col-8">
                                <p>Stylist：{{ style_data.stylist.name }}<br>
                                    Style：{{ style_data.category }}</p>
                            </div>
                            <hr class="my-3">
                            <p>{{ style_data.name }}</p>
                            <p>{{ style_data.detail|linebreaksbr|truncatechars:100 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <div class="text-center">
                    <div class="btn btn-dark">
                        <a href="{% url 'style_list' %}" class="d-block">
                            <span class="text-white">BACK</span>
                        </a>
                    </div>
                    <div class="btn btn-outline-dark">
                        <a href="" class="d-block">
                            <span>RESERVE</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}