{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <!-- STYLISTS -->
            <!-- タイトル -->
            <div class="col-12 my-4">
                <h2 class="text-center">STYLISTS</h2>
            <!-- 画像 -->
                <div class="">
                    <img class="img-fluid page-top-img" src="/images/blake-wisz-GFrBMipOd_E-unsplash.jpg" alt="">
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    {% for stylist in stylist_data %}
                    <div class="col-3">
                        <div class="card">
                            {% if stylist.image %}
                                <img  class="card-img-top img-fluid" src="{{ stylist.image.url }}" alt="">
                            {% endif %}
                            <div class="card-body">
                                <p>{{ stylist.position }}</p>
                                <h5>{{ stylist.account_core.name }}</h5>
                            </div>
                            <a class="stretched-link" href="{% url 'stylist_detail' stylist.pk  %}"></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}